.venv/
__pycache__/
*.pyc
.idea/
ransac.py

# Ignore all runtime data inside data/CSV
data/CSV/*.csv
data/CSV/*.html

# Ignore all calibration data inside data/DATA
data/DATA/**/*.npz

# Explicitly track the .gitkeep files to preserve folder structure
!data/CSV/.gitkeep
!data/DATA/hand_eye/.gitkeep